@import '../../variables.scss';

.wrapper {
    position: relative;
    min-height: 28px;

    select {

        outline: none;
        height: 27px;
        border: 1px solid $white;
        width: 100%;
        background-color: $white;
        color: $grey;
        padding: 0px 5px;


        // hide arrow
        -moz-appearance: none;
        -webkit-appearance: none;
        // webkit only styles
        @media screen and (-webkit-min-device-pixel-ratio:0) {  
            padding: 0px 9px;
        }
        &:-ms-expand {
            display: none;
        }
        // hide focus bar
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }

        option {
            padding: 8px 10px; 
            outline: none;
            border: none;
            &:hover {
                // highlight colour
                box-shadow: 0 0 10px 100px $green inset;
                transition: box-shadow .1s ease-in-out;
            }
        }

    }

    .input {
        @extend select;
        padding: 5px 9px;
        max-height: 15px;
        width: calc(100% - 20px);
    }
}


.arrow {
    width: 27px;
    height: 27px;
    background-color: $lightgrey;
    border: 1px solid $lightgrey;
    position: absolute;
    right: 0;
    top: 0;
    cursor: default;
    text-align: center;
    z-index: 14;

    > svg {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    pointer-events: none;
}