@import '../../variables.scss';

.key {
    width: 30px;
    text-align: center;
    padding: 5px;
    line-height: 30px;

    color: $grey;
    outline: none;
    border: none;
    -moz-appearance: none;
    background-color: $white;
    margin: 0 2.5px;
    height: 22px;
}

.move {
    @extend .key;
    width: 80px;
}

.wrapper {
    display: inline-block;
    margin-bottom: 5px;
}

.delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0 5px;
}

.add {
    background-color: $lightgrey;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}