@import '../../variables.scss';

.input {
    padding: 3px 10px 10px 0;
    display: inline-block;
}

.button {
    background-color: $lightgrey;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    width: 70%;
    position: absolute;
    left: 0;
    top: 0;
    
    cursor: default;
}

.metric {
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
}

.wrapper {
    min-height: 25px;
    position: relative;
    margin-bottom: 10px; 
}

.output {
    font-size: 14px;
    margin-top: 10px;
}

.alg {
    // outline: 1px solid $lightgrey;
    padding: 2px;
    margin: 10px 0;
    clear: both;

    > div {
        text-align: right;
        font-size: 12px;
    }
}