<!doctype html>
<html>
    <head>
        <title>kSim 2</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="icon" type="image/png" href="data:image/png;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////AAD/AAAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIgIiAiIAAAIiAiICIgMAAiICIgIiAzAAAAAAAAADMwIiAiICIgAzAiICIgIiAwMCIgIiAiIDMAAAAAAAAAMzAiICIgIiADMCIgIiAiIDAwIiAiICIgMwAAAAAAAAAzMAERAREBEQMwABEQERAREDAAAREBEQERAABwAAAAMAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAMAAAADgAAAA" />
        <meta name="theme-color" content="#000000">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/root.js"></script>
    </head>
</html>
