@import '../variables.scss';

.wrapper {
    position: relative;
    min-height: 28px;

    select {
        -moz-appearance:none;
        -webkit-appearance: none;
        &:-ms-expand {
            display: none;
        }
        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }

        outline: none;
        height: 28px;
        border: 1px solid $white;
        width: 100%;
        background-color: $white;
        color: $grey;
        padding: 2px 5px;



        option {
            padding: 8px 10px; 
            outline: none;
            border: none;
            &:hover {
                background-color: $green;
            }
        }

    }
}


.arrow {
    width: 28px;
    height: 28px;
    background-color: $lightgrey;
    border: 1px solid $lightgrey;
    position: absolute;
    right: 0;
    top: 0;
    cursor: default;
    text-align: center;
    z-index: 14;

    > svg {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    pointer-events: none;
}