@import '../variables.scss';

$border: 1px solid $lightgrey;

$height: 26px;

.wrapper {
    position: relative;
    min-height: $height;

    select, input {
        @extend .cell;
    }

    .select {
        -moz-appearance:none;
        -webkit-appearance: none;
        &:-ms-expand {
            display: none;
        }
    }
}

.cell {
    // width: 100%;
    height: $height;
    border: $border;
    background-color: $white;
    color: $grey;
    cursor: default;
    line-height: $height;
    padding-left: 5px;
    width: calc(100% - 6px);
}

.cell-noselect {
    @extend .cell;
    @extend .noselect;
}

.header {
    @extend .cell;
    position: absolute;
    left: 0;
}

.header-input {
    @extend .header;
    cursor: auto;
}
.header-div {
    @extend .header;
    @extend .noselect;
}

.placeholder {
    color: #888;
}

.arrow {
    width: $height;
    height: $height;
    background-color: $lightgrey;
    border: $border;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: default;
    text-align: center;
    z-index: 14;

    > svg {
        position: absolute;
        top: 5px;
        right: 5px;
    } 
}

.item {
    @extend .cell-noselect;
    border-top: none;
    border-bottom: none;
    border-left: $border;
    border-right: $border;
    position: absolute;
    height: 30px;
    line-height: 30px;
    top: 0;
    left: 0;
    &:last-of-type {
        border-bottom: $border;
    }
    &:hover {
        background-color: $green;
    }
}

.noselect {
    user-select: none;
}