@import '../variables.scss';

// panels

$width: 25%;

.abs {
    position: absolute;
    top: 0;
    bottom: 0;
    width: $width;
    height: 100%;
    overflow: auto;
    background-color: $black;
}

.left {
    @extend .abs;
    left: 0;
    border-right: 1px solid $lightgrey;
}

.right {
    @extend .abs;
    right: 0;
    border-left: 1px solid $lightgrey;
}



.code {
    float: right;
}
.button {
    background-color: $lightgrey;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    cursor: default;
}
