@import '../variables.scss';

// panels

$width: 25%;

.abs {
    position: absolute;
    top: 0;
    bottom: 0;
    width: $width;
    height: 100%;
    overflow: auto;
    background-color: $grey;
}

.left {
    @extend .abs;
    left: 0;
    border-right: 1px solid $lightgrey;
}

.right {
    @extend .abs;
    right: 0;
    border-left: 1px solid $lightgrey;
}



.code {
    float: right;
}
.button {
    background-color: $lightgrey;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    cursor: default;
}


// menu

.menu {

    .title {

        background-color: $lightgrey;
        cursor: pointer;
        z-index: 2;
        position: relative;
        min-height: 45px;
        border-bottom: 1px solid $grey;

        h2 {
            display: inline-block;
            color: $red;
            padding: 10px;
            margin: 0;
        }

        svg {
            width: 25px;
            height: 25px;
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    .bodywrap {
        overflow: hidden;
    }

    .body {
        padding: 10px;
        border-bottom: 1px solid $lightgrey;
        z-index: 1;
        position: relative;
    }
}

// slider

.slide {
    margin: 10px 0;
    position: relative;

    button {
        position: absolute;
        top: 0; right: 0;
        font-size: 12px;
    }

    :global {
        input {
            background: none;
            box-shadow: none;
            padding: 0 0px;
            margin: 0;
            width: 100%;
            max-width: none;
            -webkit-appearance: none;
            border-radius: 8px;
            height: 10px;
            border: none;
            background-color: #444a58;
        }

        input::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: #96a2b0;
            border: none;
            width: 15px;
            height: 10px;
            border-radius: 5px;
        }

        input::-moz-range-track {
            border-radius: 8px;
            height: 10px;
            border: none;
            background-color: #444a58;
        }
        input::-moz-range-thumb {
            background: #96a2b0;
            border: none;
            width: 15px;
            height: 10px;
            border-radius: 5px;
        }
    }
    
}