.wrapper {
    position: absolute;
    left: calc(50% - 105px);
    top: calc(50% - 160px);
}

.cube {

    position: relative;
    transform-origin: 105px 160px;

    :global {
        svg {
            position: absolute;
        }
    }
}