.wrapper {
    position: absolute;
    z-index: 100;
}

.cube {
    position: relative;
    :global {
        svg {
            shape-rendering: crispEdges;
            position: absolute;
        }
    }
}