@import '../../variables.scss';

.timer {
    text-align: center;
    font-size: 42px;
    padding-bottom: 10px;
    font-weight: 900;
}

.info {
    padding-bottom: 10px;

    &:last-of-type {
        padding-bottom: 0;
    }
}

.times {
    padding: 5px;
    border: 1px solid $lightgrey;
    position: relative;
    margin-bottom: 5px;
}

.clear {
    float: right;
    // margin: 5px;
    transform: translateY(-100%);
    top: -5px;
    right: -1px;
    font-size: 12px;
    position: absolute;
}